In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
myproduct=pd.read_csv("D:\\Desktop\\python\\Num\\product.csv")
myproduct.head()

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,...,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,...,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,...,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,...,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,...,165,203,1,0,0,0,1,0,0,0

In [4]:
year=np.array(myproduct["Year_of_Birth"])
edu=np.array(myproduct["Education_Level"])
sta=np.array(myproduct["Marital_Status"])
kid=np.array(myproduct["No_of_Kids_in_home"])
teen=np.array(myproduct["No_of_Teen_in_home"])

TypeError: _sum_dispatcher() missing 1 required positional argument: 'a'

In [6]:
myproduct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1568 entries, 0 to 1567
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1568 non-null   object
 1   Year_of_Birth            1568 non-null   int64
 2   Education_Level          1568 non-null   object
 3   Marital_Status           1568 non-null   object
 4   Disposable_Income        1552 non-null   float64
 5   No_of_Kids_in_home       1568 non-null   int64
 6   No_of_Teen_in_home       1568 non-null   int64
 7   Date_Customer            1568 non-null   object
 8   Recency                  1568 non-null   int64
 9   Discounted_Purchases     1568 non-null   int64
 10  WebPurchases             1568 non-null   int64
 11  CatalogPurchases         1568 non-null   int64
 12  StorePurchases           1568 non-null   int64
 13  Amount_on_Wines          1568 non-null   int64
 14  Amount_on_Fruits         1568 non-null   int64
 15  Amount_on_MeatProducts   1568 non-null   int64
 16  Amount_on_FishProducts   1568 non-null   int64
 17  Amount_on_SweetProducts  1568 non-null   int64
 18  Amount_on_GoldProds      1568 non-null   int64
 19  WebVisitsMonth           1568 non-null   int64
 20  Cmp3Accepted             1568 non-null   int64
 21  Cmp4Accepted             1568 non-null   int64
 22  Cmp5Accepted             1568 non-null   int64
 23  Cmp1Accepted             1568 non-null   int64
 24  Cmp2Accepted             1568 non-null   int64
 25  Any_Complain             1568 non-null   int64
 26  Response                 1568 non-null   int64
dtypes: float64(1), int64(22), object(4)
memory usage: 306.3+ KB

In [7]:
wines=np.array(myproduct["Amount_on_Wines"])
wines

array([ 71, 205, 469, ..., 820,  57,  18], dtype=int64)

In [8]:
np.sum(wines)

475402

In [11]:
fruits=np.array(myproduct["Amount_on_Fruits"])
fruits

array([ 3, 22, 31, ..., 11,  3,  5], dtype=int64)

In [12]:
np.sum(fruits)

45615

In [14]:
meats=np.array(myproduct["Amount_on_MeatProducts"])
meats

array([ 16, 111, 873, ...,  53,   9,  18], dtype=int64)

In [15]:
np.sum(meats)

264014

In [16]:
fish=np.array(myproduct["Amount_on_FishProducts"])
fish

array([ 0, 50, 29, ..., 11,  0,  6], dtype=int64)

In [17]:
np.sum(fish)

58277

In [19]:
newarr=np.array(myproduct)
newarr

array([['ID_4A9AR6FQ', 1955, 'Graduation', ..., 0, 0, 0],
       ['ID_X28T3VEK', 1958, 'Graduation', ..., 0, 0, 0],
       ['ID_AWXARH57', 1962, 'Graduation', ..., 0, 0, 1],
       ...,
       ['ID_O11VSIJY', 1952, 'Master', ..., 0, 0, 0],
       ['ID_VS37P6MS', 1964, 'PhD', ..., 0, 0, 0],
       ['ID_AKHOY7EI', 1970, 'Graduation', ..., 0, 0, 0]], dtype=object)

In [20]:
arr=newarr[:,[2,14,15,16]]
arr

array([['Graduation', 3, 16, 0],
       ['Graduation', 22, 111, 50],
       ['Graduation', 31, 873, 29],
       ...,
       ['Master', 11, 53, 11],
       ['PhD', 3, 9, 0],
       ['Graduation', 5, 18, 6]], dtype=object)

In [21]:
grafruitlist=[]
otherlist=[]
for x in arr:
    if x[0]=="Graduation":
        grafruitlist.append(x[1])
    else:
        otherlist.append(x[1])

In [22]:
gra=np.array(grafruitlist)
gra

array([  3,  22,  31, 117,  31,  94,   4,   6,   9,  22,   8,   5,  13,
         3,   3,  48,  56,   3,  20,   4,   3,   3,  15,   6, 132,  12,
        47,  52,   3,   7,  12,   7,   3,   7,  17, 111,   4,   4,   5,
        47,   8,   3,   3,  18,  26,   3,  37,   3,   9,   3,   6,   3,
         3, 147,  14,   7,   7,   9,   3, 115,  26,  75,   5,   8,  24,
         6,  33,   3,   6,  15,  10,   3, 141,  69,  10,   8,   4,  20,
        24,   3,  46,  10,   5,  20,   9,  13,   3,  86, 109,  26,   4,
        93, 164,  26, 162,  27,  13, 110,   5,  31,   3,   4, 165,   5,
         6,   8,  17,   5, 108,  50,   3,  46,   3,  73,  51,  63,   8,
        10,   6,  13, 141,   3, 164,   3,  17, 132, 126,   5,   7,  37,
         6,   8,   3, 101,   5, 152,  18,   7, 196,   3,  15,  87,  12,
        74,   3, 117, 118,  13,  19,   4,  54,   3,   4,  11,   3,   6,
       111,  13,   3,   7,   4,  10,   7,   7,   3,   6, 101,   5,  34,
         5,  64,  27,   4,  64,  32, 158,  26, 162,  68,  18,  27,  34,
        38,  45,  41,  74,  30,   9,  56,  73,   4,   4,  90,  19,   3,
        12,  92,   8,  14,  47,  25,  54,  12, 135,   3,   9, 181,  13,
        11, 154,  35,   4,  15,  24,  29,  16,   6,  13,  62,   5,  20,
         3, 129,   4,  10,  22, 156,  24, 141,   3,  13,   8,  41,  72,
         3,   3,  50, 136,   3,  34,   5,  24, 171,  80,  50,   8,  13,
        96,  66,  17,  17,  10,  18,   5,   3,   3, 186,  11,   3,  31,
         9,  82,   6, 137,   6,  12,   3,  31,  80,   6,   4,  16, 108,
        63,  11,   3, 109,   5,   3,  10,   3, 188,   6,   5,  64, 141,
         7,   5, 202,   4,   3,   7,  23,   4,  29,  57,  26, 169,   3,
         9,  16,   6,  38,   4,   7,   4,  19,   8,  10,   4,   8,  39,
        10,  15, 165,   9,  11,   3,   3,  38,  54,  23,  43,  43,   3,
         6,   3,  37,   3,   5,  79,  11,  26,  72,  11,   5,  17, 132,
         6,  19,  11, 101,  48,   4,  11,  14, 108,   4,  23,   7,   3,
        84, 188,  16, 156,   9,   4,   6, 127,   5,  11,   4,  37,  36,
         4,  11,   9,  13,   3,   4,  27,   3,  10, 118,   3,   9,  52,
        51,  20, 109,   7,  13,  13,  18,   6,  46,   4,  60,   5, 132,
         3,   5,  15,   4, 175,   3,  13,   7,   8,  10,  63,  10,   3,
         9,  83,  62,   9,  10,  10,  53,  91,  24,   6,  35,   6, 102,
        30,  46,  79, 110,  18,  10,  10,  19,   3,  15,   6, 164,   3,
         4,  34,   3, 102,   3,  78,   5, 136,  79,  65, 107,  16,  10,
       175, 175,   5,   6,   3,  15,  36, 140,   3,  13,   8,   7,  21,
         4,   3,   3,  68, 155,   6,  24,   9, 107,  12,   6,   3,  10,
        41,  64,  83,  10,  38,   3,   3,  83,   8,  19,  25,   3,  39,
        17,   3,  20,  64,   4,   5,   7,  22,  13,   5,  41,  30,   5,
         5,  84,  12,   4,   5,  12,   9,  36,  38,   6,   7,   6,   9,
         3,  12,   9, 175,   6,  28,  15,   4,   5,  61,  31,   7,  22,
         4,  32,  76,  21,  27,  23,   7,  21,   3,  38,  56,   5,   4,
        51,  31,   4,   3,   7,   3,   3,   4,   8,  29,  39,  11,  12,
         4,  28,  10, 181,   4, 120,   5, 105,  13,  10,  59,  14,  36,
        49,   3,  10,  19,   5,  20,   3,   3,  22,   3,   4,  15,  10,
         3,   8,   6,  26,   3,   5,  12,   3,  71,   5,  10,  38,  19,
        30,  41,  15,  21,  41,   3,   4,   3,  20, 172,  23, 102,  38,
        13,   5,   9,   6,   4,  26,   4,   3,  77,   4,   8,   4,   3,
        50,  15,   3,   7,   7,  53, 137,  15,   4,  62,  29,  22,  64,
        28,  87,  16,  31,  79,  86,  46,   8,  35, 104,   4,   4, 154,
         4,   9,   3,   5,  27,   5,  35,  45,   3,   8,   9, 151,   8,
        25,  63,   3,   4,   3,  10,   3,  47,   4,   8,  24,  49,   3,
        45, 157,   9,   3,   7,   4,   8,  24,  83,  59,   3,  11,   5,
        38,  75,   4,  30,  26,   5,  13,  13,   5,  15, 141,  30, 143,
        24,  20,  86, 123,  20,  39,   3,  61,  13,  20,   3,  39,  53,
         5,   3,   4,   7,  14,   4,   3,  20,   6,  54,  46, 126,  15,
       150, 134,  13,  13,  38,  26, 123, 163,   4,  14,   8,   4,   6,
       172,   9,  84,  67,  29,   9,   5,  16,   3,   3,  14,   8,  28,
        24,  11, 132,  31,   6,   5,   9, 155,   5,  88,  24,  46,   3,
         3,  73,   7,  14,  51, 117,   9,   7, 164,   6,   5,   7,  43,
        17,  23,  12,   5,  15,  27,   5, 141,  15,   3,  92, 117,   3,
        10,   4, 184,   7,  11,   3,  45,   4,  20,   4,   4,  12,  54,
         3,  61,  14,   4,   7,   7,   4,  53,   5])

In [23]:
edu[wines.argmax()]

'PhD'

In [24]:
edu[wines.argmin()]

'Basic'

In [25]:
sta[wines.argmax()]

'Married'

In [26]:
sta[wines.argmin()]

'Single'

In [27]:
year[wines.argmax()]

1950

In [28]:
year[wines.argmin()]

1992